NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=example

AUTH_ACCESS_TOKEN_SECRET=secret
AUTH_ACCESS_TOKEN_EXPIRES_IN=1d
AUTH_REFRESH_TOKEN_SECRET=secret
AUTH_REFRESH_TOKEN_EXPIRES_IN=7d